<header class="site-header">
      <div class="nav-wrap">
        <div class="container">
          <div class="site-logo retina">
            <a href="index.php">
              <img src="/images/logo.png" alt="Destetica - Clínica de estética">
            </a>
          </div>
          <button class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <nav class="site-navigation">
            <ul>
              <li>
                <a href="http://destetica.com.br/index.php">Home</a></li>
              <li>
                <a href="http://destetica.com.br/estetica_corporal.php">Estética Corporal</a></li>
              <li>
                <a href="http://destetica.com.br/estetica_facial.php">Estética Facial</a></li>
                <li class="current_page_item">
                <a href="http://blog.destetica.com.br">Blog</a></li>
              <li>
                <a href="http://destetica.com.br/quem_somos.php">Quem Somos</a></li>
              <!-- <li>
                <a href="http://destetica.com.br/depoimentos.php">Depoimentos</a></li> -->
                <li>
                <a href="http://destetica.com.br/contato.php">Contato</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="sticky-holder"></div>
    </header>