<!doctype html>
<html lang="en">
<head>
	<title>Blog | D'estética - Estética e beleza</title>
	<meta name="description" content="O Centro Estético D'estética, localizada em Jales, oferece tratamentos de alta qualidade, conheça a D'estética." />
	<meta name="keywords" content="clínica de estética, clínicas, clínica destetica, clínicas em jales, tratamentos de estética, beleza, Jales, centro Estético, depilação em jales" />


	<meta charset="utf-8" />
	<meta name="url" content="http://www.destetica.com.br" /> 
	<meta name="siteinfo" content="/robots.txt" />
	<meta name="revisit-after" content="1 weeks" />
	<meta name="robots" content="index, follow" /> 
	<meta name="language" content="pt-br" />
	<meta name="author" content="http://www.mqnpublicidade.com.br" />
	<meta name="google-site-verification" content="1zqalpFA_rcCVofaksKNr8Y1kKM1Jrxhd_0HOJaMeVs" />
	<meta property="og:image" content="http://www.destetica.com.br/facebook.jpg">
 

	<link rel="index" title="Clínica Virgo" href="http://www.destetica.com.br/" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- css -->
	<link rel="icon" href="favicon.png" type="image/x-icon" />
	<!-- including stylesheets -->
	<link rel="stylesheet" href="/css/font-awesome.css">
	<link rel="stylesheet" href="/css/core.css">
	<link rel="stylesheet" href="/css/theme.css">
	<!-- including layerslider stylesheets -->
	<link rel="stylesheet" href="/css/scheme-9.css">
	<!-- retirar -->
	<!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
</head>
<body>
	<div class="site-wrapper">