<!DOCTYPE html>
<html>

  {% include head.html %}

    {% include header.html %}

<div class="page-heading" style="background-image: url(/images/demo/page-heading.png);">
      <div class="container">
        <h1>Blog</h1>
        <ul class="breadcrumbs">
          <li><a href="http://destetica.com.br/">Home</a></li>
          <li>Blog</li>
        </ul>
      </div>
    </div>
    <section class="container page-with-sidebar">
      <div class="row">
        <div class="col-md-9">
        {{ content }}
        </div>
        <aside class="col-md-3 sidebar">
          <h3 class="widget-title">Categorias</h3>
          <ul class="widget-categories">
            <li><a href="#">Beleza</a></li>
            <li><a href="#">Dicas</a></li>
            <li><a href="#">Tratamentos</a></li>
            <li><a href="#">Saúde</a></li>
          </ul>
        </aside>
      </div>
    </section>
    
    {% include footer.html %}

</html>
